@use "sass:math";

.handsWrapper {
    //@apply w-screen h-auto;
    //padding-bottom: 84%;
    padding-bottom: 125%;
}
.heroElement{
    @apply absolute w-full h-full object-cover object-right-top opacity-0;
}
@media (min-aspect-ratio: 1/1) {
    .handsWrapper {
        padding-bottom: 100%;
    }
}
@media (min-aspect-ratio: 2677/2255) {
    .handsWrapper {
        //@apply h-screen;
        height: 100vh;
        padding-bottom: 0;
    }
    .heroElement{
        @apply object-contain object-right;
    }
}
.leafWrapper img{
    @apply scale-x-0;
}
.leafWrapper, .logoWrapper {
    position: absolute;
    width: 15%;
    mix-blend-mode: multiply;
}
@media (min-aspect-ratio: 320/568){
    .leafWrapper, .logoWrapper {
        width: 11%;
    }
}
@media (min-aspect-ratio: 1.2/1){
    .leafWrapper, .logoWrapper {
        width: 7%;
    }
}
.logo{
    top: 2%;
    left: 2%;
    min-width: 70px;
}
.leavesOrange1 {
    top: 5%;
    left: 90%;
    transform: rotate(150deg) scale(1.4);
}

.leavesOrangeFaded1 {
    top: 5%;
    left: 70%;
    transform: rotate(180deg);
}

.leavesOrangeFaded2 {
    top: 15%;
    left: 23%;
    transform: rotate(100deg);
}

.leavesOrangeFaded3 {
    top: 50%;
    left: 15%;
    transform: rotate(180deg) scale(1.3);
}

.leavesOrangeFaded4 {
    top: 55%;
    left: 47%;
    transform: rotate(30deg) scale(2.2);
}

.leavesOrangeFaded5 {
    top: 85%;
    left: 80%;
    transform: rotate(220deg) scale(1.8);
}

.leavesPurple1 {
    top: -3%;
    left: 50%;
}

.leavesPurple2 {
    top: 2%;
    left: 30%;
    transform: rotate(10deg) scale(1.6);
}

.leavesPurple3{
    top: 20%;
    left: 70%;
    transform: rotate(140deg) scale(1.2);
}

.leavesPurple4{
    top: 30%;
    left: -3%;
    transform: rotate(330deg) scale(0.9);
}

.leavesPurple5 {
    top: 25%;
    left: 85%;
    transform: rotate(330deg) scale(1.2);
}

.leavesPurple6 {
    top: 30%;
    left: 20%;
    transform: rotate(30deg) scale(1.7);
}

.leavesPurple7 {
    top: 55%;
    left: 80%;
    transform: rotate(40deg) scale(1.3);
}

.leavesPurple8 {
    top: 65%;
    left: -5%;
}

.leavesPurple9 {
    top: 80%;
    left: 25%;
    transform: rotate(350deg) scale(1.3);
}

.leavesPurpleFaded1 {
    top: -3%;
    left: 17%;
    transform: rotate(135deg);
}

.leavesPurpleFaded2 {
    top: 10%;
    left: 50%;
    transform: rotate(40deg) scale(1.6);
}

.leavesPurpleFaded3{
    top: 20%;
    left: 35%;
    transform: rotate(250deg) scale(1.1);
}

.leavesPurpleFaded4{
    top: 35%;
    left: 60%;
    transform: rotate(190deg) scale(-2, 2);
}

.leavesPurpleFaded5 {
    top: 45%;
    left: -5%;
    transform: rotate(230deg) scale(1.4);
}

.leavesPurpleFaded6 {
    top: 37%;
    left: 90%;
    transform: rotate(90deg) scale(1.3);
}

.leavesPurpleFaded7 {
    top: 70%;
    left: 35%;
    transform: rotate(210deg) scale(1.6);
}

.leavesPurpleFaded8 {
    bottom: 35%;
    left: 7%;
    transform: rotate(100deg) scale(1.3);
}

.leavesPurpleFaded9 {
    top: 65%;
    left: 65%;
    transform: rotate(350deg) scale(1.4);
}

.leavesPurpleFaded10 {
    top: 87%;
    left: 5%;
    transform: rotate(170deg) scale(1.7);
}

.leavesPurpleFaded11 {
    top: 90%;
    left: 45%;
}
.mapWrapper{
    position: relative;
    padding-bottom: 130%;
    height: 0;
    iframe{
        position: absolute;
        width: 100%;
        height: 100%;
        max-height: 90vh;
    }
}
@media (min-aspect-ratio: 1/1) {
    .mapWrapper {
        padding-bottom: 60%;
    }
}

.mainWhenWhere{
    width: math.ceil(math.div(1500px, 3.5));
}
.whoKParentsLabel{
    width: math.ceil(math.div(614px, 3.5));
}
.whoKParentsValue1{
    width: math.ceil(math.div(590px, 3.5));
}
.whoKParentsValue2{
    width: math.ceil(math.div(629px, 3.5));
}
.whoDParentsLabel{
    width: math.ceil(math.div(600px, 3.5));
}
.whoDParentsValue1{
    width: math.ceil(math.div(533px, 3.5));
}
.whoDParentsValue2{
    width: math.ceil(math.div(326px, 3.5));
}
.whoBestsLabel{
    width: math.ceil(math.div(321px, 3.5));
}
.whoBestsValue1{
    width: math.ceil(math.div(488px, 3.5));
}
.whoBestsValue2{
    width: math.ceil(math.div(300px, 3.5));
}
.mainRestInfo{
    width: math.ceil(math.div(714px, 3.5));
}
@screen sm {
    .mainWhenWhere{
        width: math.ceil(math.div(1500px, 3));
    }
    .whoKParentsLabel{
        width: math.ceil(math.div(614px, 3));
    }
    .whoKParentsValue1{
        width: math.ceil(math.div(590px, 3));
    }
    .whoKParentsValue2{
        width: math.ceil(math.div(629px, 3));
    }
    .whoDParentsLabel{
        width: math.ceil(math.div(600px, 3));
    }
    .whoDParentsValue1{
        width: math.ceil(math.div(533px, 3));
    }
    .whoDParentsValue2{
        width: math.ceil(math.div(326px, 3));
    }
    .whoBestsLabel{
        width: math.ceil(math.div(321px, 3));
    }
    .whoBestsValue1{
        width: math.ceil(math.div(488px, 3));
    }
    .whoBestsValue2{
        width: math.ceil(math.div(300px, 3));
    }
    .mainRestInfo{
        width: math.ceil(math.div(714px, 3.5));
    }
}
@screen md {
    .mainWhenWhere{
        width: math.ceil(math.div(1500px, 2.7));
    }
    .whoKParentsLabel{
        width: math.ceil(math.div(614px, 2.7));
    }
    .whoKParentsValue1{
        width: math.ceil(math.div(590px, 2.7));
    }
    .whoKParentsValue2{
        width: math.ceil(math.div(629px, 2.7));
    }
    .whoDParentsLabel{
        width: math.ceil(math.div(600px, 2.7));
    }
    .whoDParentsValue1{
        width: math.ceil(math.div(533px, 2.7));
    }
    .whoDParentsValue2{
        width: math.ceil(math.div(326px, 2.7));
    }
    .whoBestsLabel{
        width: math.ceil(math.div(321px, 2.7));
    }
    .whoBestsValue1{
        width: math.ceil(math.div(488px, 2.7));
    }
    .whoBestsValue2{
        width: math.ceil(math.div(300px, 2.7));
    }
    .mainRestInfo{
        width: math.ceil(math.div(714px, 2.7));
    }
}

@screen xl {
    .mainWhenWhere{
        width: math.ceil(math.div(1500px, 3));
    }
    .whoKParentsLabel{
        width: math.ceil(math.div(614px, 3));
    }
    .whoKParentsValue1{
        width: math.ceil(math.div(590px, 3));
    }
    .whoKParentsValue2{
        width: math.ceil(math.div(629px, 3));
    }
    .whoDParentsLabel{
        width: math.ceil(math.div(600px, 3));
    }
    .whoDParentsValue1{
        width: math.ceil(math.div(533px, 3));
    }
    .whoDParentsValue2{
        width: math.ceil(math.div(326px, 3));
    }
    .whoBestsLabel{
        width: math.ceil(math.div(321px, 3));
    }
    .whoBestsValue1{
        width: math.ceil(math.div(488px, 3));
    }
    .whoBestsValue2{
        width: math.ceil(math.div(300px, 3));
    }
    .mainRestInfo{
        width: math.ceil(math.div(714px, 3));
    }
}